@import url('../css/variable.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.section__home {
    background-image: linear-gradient(#376e4072, #071917d5), url("../storage/img/FondoPlaneta.jpg");
    background-size: cover;
    background-position: center 20%;
    background-repeat: no-repeat;
    height: 100svh;


}
.article__home {
    width: 626px;
    height: 360px;
    position: relative;
    left: 22svw;
    top: 36svh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-1);
}

.article__home span {
    font-size: 28px;
    font-family: "Montserrat-Medium";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-Medium";
}

.article__home p {
    width: 340px;
    font-family: "Montserrat-SemiBold";
}


 

header nav a.work {
    position: absolute;
    width: 48px;
    height: 21px;
    top: 17px;
    left: 1250px;
    font-size: 17px;
    font-family: 'montserratBold', sans-serif;
    color: #ffffff; 
}

header nav a.about {
    position: absolute;
    width: 48px;
    height: 21px;
    top: 17px;
    left: 1350px;
    font-size: 17px;
    font-family: 'montserratBold', sans-serif;
    color: #ffffff; 
}

header nav a.blog {
    position: absolute;
    width: 48px;
    height: 21px;
    top: 17px;
    left: 1450px;
    font-size: 17px;
    font-family: 'montserratBold', sans-serif;
    
    color: #ffffff; 
}

.logo{
    position: absolute;
    width: 45px;
    height: 45px;
    top: 5px;
    left: 5px;
}
