@import url('../css/variable.css');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;

}


.ul__menu {
    display: flex;
    gap: 66px;
    padding-right: 159px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);


    li{
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    a:visited {
        color: var(--color-1);
    }
}





.section__home {
    background-image: linear-gradient(#376e4072, #071917d5), url("../storage/img/FondoPlaneta.jpg");
    background-image: linear-gradient(var(--color-2), var(--color-3)100%), var(--banner-1);
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
    height: 140svh;
    padding: 0;


}

.article__home {
    width: 626px;
    height: 360px;
    position: relative;
    left: 22svw;
    top: 47svh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    color: var(--color-1);
}

.article__home span {
    font-size: 28px;
    font-family: "Montserrat-Medium";
}
.article__home h1{
    font-size: 75px;
    font-family: "Montserrat-Medium";
}

.article__home p {
    width: 340px;
    font-family: "Montserrat-SemiBold";
}

.divlogo{
    top: 5px;
    left: 5px;
}


.section__icon{
    background-color: var(--color-3);
    display: flex;
    justify-content: space-evenly;

}


@media (max-width: 960px){
    .header{
        padding: 15px;

    }

    .ul__menu{
        gap: 15px;
        padding-right: 15px;
    }

    .section__home{
        display: flex;
        justify-content: space-around;
    }   

    .article__home{
        left: 0;
    }

    .article__home p{
        
    }

    .article__home h1{
        font-size: 70px;
    }

    .section__icon{
        justify-content: space-around
    }

    .section__icon img{
        width: 45px;
        height: 45px;
        object-fit: contain;
    }
}

@media (max-width: 576px){
    .header{
        justify-content: normal;
    }

    .div__menu{
        width: 100%;
    }

    .ul__menu{
        display: flex;
        justify-content: center;
        padding-right: 0;
    }

    .article__home{
        top: 25svh;
    }
    .article__home h1{
        font-size: 60px;
    }
    .section__home{
        display: flex;
        justify-content: normal;
        padding-left:  15px;
        padding-right: 15px;
        height: 95svh;
    }


}



.sectionImg1{
    display: flex;
    background-color: var(--color-3);
    padding-top: 32px;
    flex-direction: column;
    

    img{
        background-color: var(--color-3);
        justify-content: center;    
        padding-left: 2svw;
        padding-right: 2svw;
        width: 99svw;
        
    }

    h1{
        color: var(--color-1);
        position: absolute;
        padding-left: 16svh;
        padding-top: 54svw;
        font-size: 6svh;
        font-family: "Montserrat-SemiBold";
        
    }

}

@media (max-width: 960px) {
    .sectionImg1 {
        padding-top: 24px;
    }

    .sectionImg1 img {
        width: 100%;
        padding-left: 1svw;
        padding-right: 1svw;
    }

    .sectionImg1 h1 {
        font-size: 5svh;
    }
}

@media (max-width: 576px) {
    .sectionImg1 img {
        width: 100%;
        padding-left: 3svw;
        padding-right: 3svw;
    }

    .sectionImg1 h1 {
        font-size: 2svh; 
        padding-top: 53svw;
        padding-left: 10svw;
    }
}



.sectionImg2{
    display: flex;
    background-color: var(--color-3);
    padding-top: 28px;
    flex-direction: column;
    

    img{
        background-color: var(--color-3);
        justify-content: center;    
        padding-left: 2svw;
        padding-right: 2svw;
        width: 99svw;
        
    }

    h1{
        color: var(--color-1);
        position: absolute;
        padding-left: 27svh;
        padding-top: 48svw;
        font-size: 55px;
        font-family: "Montserrat-SemiBold";
        
    }

}


@media (max-width: 960px) {
    .sectionImg2 {
        padding-top: 24px;
    }

    .sectionImg2 img {
        width: 100%;
        padding-left: 1svw;
        padding-right: 1svw;
    }

    .sectionImg2 h1 {
        font-size: 5svh;
    }
}

@media (max-width: 576px) {
    .sectionImg2 img {
        width: 100%;
        padding-left: 3svw;
        padding-right: 3svw;
    }

    .sectionImg2 h1 {
        font-size: 2svh; 
        padding-top: 46svw;
        padding-left: 10svw;
    }
}

.sectionImg3{
    display: flex;
    background-color: var(--color-3);
    padding-top: 28px;
    flex-direction: column;
    

    img{
        background-color: var(--color-3);
        justify-content: center;    
        padding-left: 2svw;
        padding-right: 2svw;
        width: 99svw;
        
    }

    h1{
        color: var(--color-1);
        position: absolute;
        padding-left: 20svh;
        padding-top: 48svw;
        font-size: 55px;
        font-family: "Montserrat-SemiBold";
        
    }

}


@media (max-width: 960px) {
    .sectionImg3 {
        padding-top: 24px;
    }

    .sectionImg3 img {
        width: 100%;
        padding-left: 1svw;
        padding-right: 1svw;
    }

    .sectionImg3 h1 {
        font-size: 5svh;
    }
}

@media (max-width: 576px) {
    .sectionImg3 img {
        width: 100%;
        padding-left: 3svw;
        padding-right: 3svw;
    }

    .sectionImg3 h1 {
        font-size: 2svh; 
        padding-top: 46svw;
        padding-left: 10svw;
    }
}

.titleCarrusel{
    h1{
        background-color: var(--color-3);
        color: var(--color-1);
        font-size: 45px;
        font-family: "Montserrat-SemiBold";   
        padding-left: 5svw;
        padding-top: 3svh;
    }

    
}

.carousel {
    background-color: var(--color-3);
    display: flex;
    flex-direction: row;
    height: 68svh;
    overflow-x: scroll;
    
    & > .carousel-item {
      flex: 1;
      flex-grow: 1;
      min-width: 20svw;
      background-color: #145E2A;
      margin: 2svh;
      border-radius: 35px;
      
    }   

    button{
        font-family: "Montserrat_Regular";
        font-size: 3svh;
        border-radius: 15px;
        margin-left: 11svh;
        height: 48px;
        width: 15svh;
        
      }

    .carousel-item {
        padding-left: 1svw;
        font-size: 1svw;
        font-family: "Montserrat-SemiBold";
    }

    img{
        padding-top: 1svw;
        width: 18svw;
        height: 26svh;
        border-radius: 30px;

    }

    p{
        padding-top: 2svh;
        padding-block-end: 2svh;
    }

    .div__a{
        height: 5svh;
        width: 8svw;
        background-color: #D9D9D9;
        border-radius: 24px;
        text-align: center;
        

        
        
    }

    div a{
        padding-top: 2svh;
        color: black;
        font-family: "Montserrat-SemiBold";
        font-size: 1svw;
        text-decoration: none;
        
    }
  }

  @media (max-width: 960px){
    .carousel{
        button{
            font-family: "Montserrat_Regular";
            font-size: 15px;
            border-radius:30px;
            margin-left: 40px;
            height: 4svh;
          }
    }   
  }
  @media (max-width: 576px) {
    .titleCarrusel h1{
        font-size: 3svh;
        padding-top: 1svh;
    }

    .carousel{
        height: 45svh;
        & > .carousel-item{
            margin: 1svh;
            border-radius: 35px;
            width: 45svw;
            min-width: 50svw;
        }


        .carousel-item {
            padding-left: 1svw;
            font-size: 2.5svw;
            font-family: "Montserrat-SemiBold";
        }
    
        .div__a{
        height: 4svh;
        width: 20svw;
        border-radius: 24px;
        text-align: center;
        padding-top: 1.5svw;
        color: black;
        font-family: "Montserrat-SemiBold";
        
        a{
            font-size: 1.5svh;
        }
        }

        button{
            font-family: "Montserrat_Regular";
            font-size: 15px;
            border-radius:30px;
            margin-left: 40px;
            height: 4svh;
          }



    }   

    #imgcarru{
        width: 47svw;
        height: 22svh;
        padding-top: 2svw;
        padding-left: 1svw;
        padding-right: 1svw;
        
    }

    p{
        padding-top: 1svh;
        padding-block-end: 1svh;
    }

}

footer{
    background: var(--color-3);
    display: flex;
    justify-content: center;
    gap: 36.5px;  
    padding-top: 2svw;
}

/* Blog */

.body__blog {
    background-color: var(--color-3);
     
}

.header__blog {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;

}

.ul__menu__blog {
    display: flex;
    gap: 66px;
    padding-right: 159px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);


    li{
        z-index: 10;
        list-style: none;
    }

    a{
        text-decoration: none;
    }

    a:visited {
        color: var(--color-1);
    }
}


.header2__blog {
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    padding-left: 343px;
    padding-right: 20px;
    padding-top: 110px;
    width: 100%;
}




.ul__menu2__blog {
    display: flex;
    gap: 5.3svh;
    padding-right: 159px;
    font-size: 15px;
    font-family: "Montserrat-SemiBold";
    color: var(--color-1);

    .recuadro{
        display: flex;
        background-color: var(--color-4);
        padding-right: 1svh;
        gap: 10px;
    }

    li{
        list-style: none;
    }
    
}
