<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/blogStyle.css">
    <title>Blog</title>
</head>
<body class="body__blog">
    <header class="header__blog">
        <div class="divlogo__blog">
            <img src="../storage/img/Ellipse1.png">
        </div>
        <div class="divmenu__blog">
            <ul class="ul__menu__blog">
                <li><a href="../index.html">Work</a></li>
                <li>About</li>
                <li><a href="../views/blog.html">Blog</a></li>
            </ul>
        </div>
    </header>    

    <section class="header2__blog">
        <div class="divmenu2__blog">
            <img src="../storage/img/Line 1.png" >
            <li class="recuadro">Latest Blog</li>
            <ul class="ul__menu2__blog">
                <li>Urban Planning</li>
                <li>Graphics Design</li>
                <li>Web Design</li>
                <li>UX/UI Design</li>
                <li>Technology</li>
            </ul>
        </div>
    </section>   

    <section class="section__img1">
        <img src="../storage/img/torreblog1.png">
    </section>


    <section class="maintext">
        <div class="card">
            <h2>Urban Planning</h2>
            <h1>Lörem ipsum europlande krohiskap panstik, förväntis.</h1>
            <p>Lörem ipsum europlande krohiskap panstik, förväntis. Klicktivism plada. Ekrofiling hedår, medan al, monoktig härgjord. Supranylingar kask. Geologi byligt dikapobelt.</p>
            <button>Read More</button>
        </div>
    </section>
    


    
</body>
</html>