<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <title>Blog</title>
</head>
<body class="body__blog">
    <header class="header__blog">
        <div class="divlogo__blog">
            <img src="../storage/img/Ellipse1.png">
        </div>
        <div class="divmenu__blog">
            <ul class="ul__menu__blog">
                <li><a href="../index.html"></a>Work</li>
                <li>About</li>
                <li><a href="../views/blog.html">Blog</a></li>
            </ul>
        </div>
    </header>    

    <header class="header2__blog">
        <div class="divmenu2__blog">
            <ul class="ul__menu2__blog">
                <li class="recuadro">Latest Blog</li>
                <li>Urban Planning</li>
                <li>Graphics Design</li>
                <li>Web Design</li>
                <li>UX/UI Design</li>
                <li>Technology</li>
            </ul>
        </div>
    </header>   

</body>
</html>